#OBJECT FILES
*.o

#EXECUTABLES
execs/

#Extras
Results/
BUNCH_OF_SUBMISSIONS/

#Build Tools Stuff
.vscode/
.idea/
cmake-*

#Temp Parser Stuff
src/Parser/cmdline.c
src/Parser/cmdline.h

#Temp input/ouput descriptions
ficheiro.in
ficheiro.out
