#OBJECT FILES
*.o

#EXECUTABLES
ANALYZE
FUNCTION_ANALYZE
os-detect
SafeExec/os-detect
SafeExec/safeexec

#Extras
Lixo/
Extras/
Results/
BUNCHOFSUBMISSIONSN/
app

#Build Tools Stuff
.vscode/
.idea/
cmake-build-debug/
cmake-build-release/
cmake-xcode/
build/

#Parser Stuff
Parser/cmdline.c
Parser/cmdline.h
